body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: url("../IMGS/BG.jpg") center / cover no-repeat fixed;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
/*Navigation System*/
.topnav {
  display: flex;
  justify-content: center;  /*centers nav links horizontally */
  align-items: center;     /* centers vertically (optional) */
  flex-wrap: wrap;         /* allows wrapping on small screens (optional) */
  gap: 20px;               /* space between links */
  
  overflow: hidden;
  background-color: #333;
  border: 3.5px solid black;
  border-radius: 25px;
  box-shadow: 1px 1px black;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(180deg, rgb(40, 55, 62), skyblue, rgb(37, 146, 204));
  width: fit-content;
  margin: 0 auto;
  }

  .topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  
  .topnav a:hover {
    background-color: rgb(62, 147, 192);
    color: black;
    border-radius: 20px;
  }
  
  .topnav a.active {
    background-color: #1fa5df;
    color: white;
  }

  /*Formating in the Main Menu*/
  .left {
    
    margin: 10px 25px 10px 0;
  }


  /*Title of the current page*/
  .set{
    margin: 10px auto; 
    width: auto;
    height: auto;
    background-color: #333;
    border: 3.5px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-image:  linear-gradient(180deg,rgb(37, 146, 204) , skyblue ,rgb(40, 55, 62));
  }
  
  /*Table of the current page and its details*/
  #Menu {
    margin: 10px auto;
    width: 750px;
    height: 925px;
    background-color: #333;
    border: 3.5px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-image:  linear-gradient(180deg,rgb(40, 55, 62) , rgb(135, 205, 235) ,rgb(40, 55, 62));
  }

  

  /*Info*/
  .set1{
    margin: 10px auto; 
    width: auto;
    height: auto;
    background-color: #333;
    border: 3.5px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-image:  linear-gradient(180deg,rgb(85, 129, 149) , skyblue ,rgb(37, 146, 204));
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }

    /*Skill Bar*/
    * {box-sizing: border-box}

    /*Skill Bar background*/
    .container {
    width: 100%;
    background-color: #dddddd6a;
    border-radius: 25px;
    border: 2px solid black;
    }

    /*Skill Current Progress Bar*/
    .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 25px;
    border: 0.55px solid black;
    }

    .sql {width: 45%; background-color: #04AA6D;}
    .py {width: 35%; background-color: #2196F3;}
    .c {width: 55%; background-color: #f44336;}
    .js {width: 60%; background-color: #a38e22;}
    .kotlin {width: 25%; background-color: #20809d;}
  
/*Flip Card*/
.flip-card {
    
    width: auto;
    height: 100px;
    perspective: auto;
    cursor: pointer;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 770px;
    background: linear-gradient(180deg,rgb(85, 129, 149) , skyblue ,rgb(37, 146, 204));
    border: 3.5px solid black;
    border-radius: 25px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px black;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

  }

  .flip-card-back {
    height: auto;
    transform: rotateY(180deg);
  
  }

  /* When the card is flipped */
  .flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  img { 
    width: 550px;
    height: 770px;
    border: 1.5px solid black;
    border-radius: 25px;         
  }

  .image{
    width:120px;
    height: 80px;
    border: none;
  }